<div class="container">
    <h1>Welcome <%= spotifyProfile.display_name %> </h1>
    <% spotifyProfile.images.forEach(function(image) { %>
    <img src="<%= image.url %> " height="<%= image.height %>" width="<%= image.width %> ">
    <% }) %>

</div>