<%- include("./partials/header") %>
<div class="container">
    <h1>Welcome to Auxygen</h1>
    <a href="/spotify_auth/login" class="btn btn-primary">Log in with Spotify</a>
</div>
<%- include("./partials/footer") %>