<%- include("../partials/header") %>
<%- include("../partials/profile.ejs") %>
<div class="container">
    <h1>Playlists</h1>
    <a href="/playlists/top_songs/short_term">Top songs last month</a>
    <a href="/playlists/top_songs/medium_term">Top songs last 6 months</a>
    <a href="/playlists/top_songs/long_term">Top songs all time</a>
</div>
<%- include("../partials/footer") %>